.stacked-container {
    position: relative;
}

.base-img {
    background: url("./assets/img/naipo-de-k24rOBJ2D_0-unsplash.jpg") center/cover;
    content: "";
    top: 0;
    left: calc(50% - 8rem);
}

.abs-img {
    position: absolute;
    background: url("./assets/img/Credit-Card-Mockup.jpg") center/cover;
    top: -18%;
    left: 55%;
    content: "";
}

@media screen and (min-width: 1024px) {
    .base-img {
        top: 25%;
    }
}